@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$text-font: "Open Sans", sans-serif;
$text-size: 1.2rem;

$headings-font: "Inria", sans-serif;

$big-text-size: 5rem;
$medium-text-size: 1.5rem;
$normal-text-size: 1.1rem;
